<footer class="footer ">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://rd.tech-note.jp">
                        R &amp; D Center
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made by
            <a href="mailto:y.karezaki@gmail.com" target="_blank">Y.Karezaki</a>.
        </div>
    </div>
</footer>